.headerContainer {
    padding: 25px 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoImage {
    margin-right: 10px;
}
.logoImage img {
    width: 50px;
}
.logoName {
    color: #253031;
    line-height: 22px;
    font-weight: bold;
    font-size: 12px;
}
.navs {
    display: none;
}

@media screen and (min-width: 900px) { 
    .container {
        width: 75%;
        margin: 0 auto;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navs {
        display: unset;
    }
    .navItem {
        margin-left: 15px;
        cursor: pointer;
        color: #253031;
        line-height: 22px;
        font-weight: bold;
        font-size: 12px;
    }
}
