.container {
    width: 90%;
    margin: 0 auto;
}

.siteIntro {
    width: 92%;
    text-align: center;
    margin: 55px auto 55px auto;
}
.siteIntroHeader {
    color: #253031;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: Playfair Display;
}
.siteIntroDescription {
    line-height: 29px;
    font-size: 16px;
    font-family: Lato;
}
.introImage {
    display: none;
}

.searchForm {
    margin-top: 55px;
}



.categoryContainer {
    padding: 25px 0;
    background: #0099FF;
}


.governorContainer {
    width: 92%;
    text-align: center;
    margin: 55px auto 25px auto;
}
.governorImage {
    margin-bottom: 25px;
}
.governorImage img {
    border-radius: 50%;
}
.governorSpeech {
    font-size: 18px;
    line-height: 36px;
    font-family: Playfair Display;
}
.governorTitle {
    margin-top: 35px;
}
.governorName {
    font-size: 16px;
    font-weight: bold;
    line-height: 29px;
    font-family: Lato;
}
.governorOffice {
    color: #80898A;
    font-size: 16px;
}




.policyContainer {
    background: #E7EFF5;   
    padding: 55px 0 55px 0;
}
.policyHeader {
    text-align: center;
    margin-bottom: 55px;
}
.policyHeaderTitle {
    color: #0099FF;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    font-family: Playfair Display;
}
.policyHeaderSubTitle {
    color: #80898A;
    font-size: 16px;
    line-height: 29px;
}

.policies {
    display: flex;
    flex-wrap: nowrap; /* [1] */
    overflow-x: auto; /* [1] */
    -webkit-overflow-scrolling: touch; /* [4] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */ 
}

/* [6] */
.policies::-webkit-scrollbar {
    display: none; 
}
.viewMorePolicies {
    width: 90%;
    margin: 25px auto 0 auto;
}
.containerHeaderContainer {
    display: none;
}

@media screen and (min-width: 900px) { 
    .navs {
        display: unset;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navItem {
        margin-left: 15px;
        cursor: pointer;
        color: #253031;
        line-height: 22px;
        font-weight: bold;
        font-size: 12px;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


@media screen and (min-width: 1200px) { 
    .container {
        width: 75%;
        margin: 0 auto;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navItem {
        margin-left: 15px;
        cursor: pointer;
        color: #253031;
        line-height: 22px;
        font-weight: bold;
        font-size: 12px;
    }
    .siteIntro {
        width: 100%;
        text-align: left;
        margin: 55px auto 55px auto;
    }
    .siteIntroContainer {
        display: flex;
        justify-content: space-between;
    }
    .introImage {
        display: unset;
        width: 35%;
        display: flex;
        justify-content: flex-end;

        position: relative;
        z-index: 2;
    }
    .introImage img {
        width: 100%;
background-size: 100%;

/*      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    }
    .siteIntroDescription {
        width: 55%;
    }
    .description {
        width: 70%;
    }

    .categoryContainer {
        padding-top: 250px; 
        clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);


        position: relative;
        top: -150px;
    }

    .containerHeaderContainer {
        display: block;
        margin-bottom: 45px;
    }
    .containerHeaderTitle {
        font-family: Playfair Display;
        font-weight: bold;
        line-height: 48px;
        font-size: 24px;
        color: #FFFFFF;
    }
    .containerHeaderSubTitle {
        font-family: Lato;
        line-height: 29px;
        font-size: 16px;
        color: #90D2FF;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 70%;
    }


    .governorContainer {
        width: 92%;
        text-align: left;
        margin-top: 0 !important;
        position: relative;
        top: -50px;
    }    
    .governorImageSpeech {
        display: flex;
        justify-content: space-around;
    }
    .governorImage {
        width: 20%;
    }
    .governorImage img {
        width: 100%;
    }
    .governorSpeech {
        width: 50%;
        line-height: 30px;
    }


    .policyHeader {
        text-align: left;
        margin-bottom: 55px;
    }
    .policies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .viewMorePolicies {
        width: 25%;
        margin: 25px auto 0 auto;
    }


    .logoImage {
        font-size: 36px;
        font-weight: bold;
    }
}