.modal {
	background: rgba(0,0,0,.5);
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100vh;
}
.body {
	width: 50%;
	max-height: 90%;
	border-radius: 4px;
	background: #FFF;
	margin: 150px auto;
	padding: 25px 25px;
}


.action {
	display: flex;
	justify-content: flex-end;
}
.goBack {
	cursor: pointer;
	margin-bottom: 35px;
}



.buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;


	margin-top: 35px;
}
.button {
    display: flex;
	align-items: center;
	

    margin: 0 0 15px 15px;
    width: 10%;
    padding: 15px 25px;
    border: 1px solid #0099FF;
    border-radius: 5px;
    text-align: left;
}
.button img {
	width: 100%;
}
.button span {
    color: #0099FF;
    font-size: 14px;
    font-family: Lato;
    margin-left: 15px;
}
.imageContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 400px;
	max-height: 400px;
}
.imageContainer img {
	width: 50%;
}