/* .container {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;

    min-height: 100vh;
    height: auto;
} */
/* .content {
    width: 90%;
    margin: 55px auto;

    padding: 15px 15px;
} */

.innerContainer {
    width: 100%;
    border: 2px solid #000;
}
.header {
    display: flex;
    justify-content: space-between;

    padding: 5px 25px;
    border-bottom: 1px solid #000; 
}
.titleContainer {
    text-align: center;
}
.head {
    font-size: 20px;
    font-weight: bold;
}
.subHead {
    font-size: 14px;
}



.body {
    display: flex;
    border-bottom: 1px solid #000; 
}
.basicInfo {
    width: 60%;
    display: flex;
}
.addressImage {
    width: 40%;
    padding-left: 5px;
    border-left: 1px solid #000;
}


.trackingNumber,
.primaryInfo {
    width: 50%;
}
.primaryInfo {
    border-left: 1px solid #000;
}


.cell {
    padding: 15px 15px 15px 3px;
    border-bottom: 1px solid #000;

    display: flex;
    justify-content: space-between;
}
.cell span {
    width: 50%;
}
.lastCell {
    border-bottom: none;
}
.cellTitle {
    font-weight: bold;
}


.addressImage {
    display: flex;
}
.address {
    width: 70%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.imageContainer {
    width: 30%;
}
.imageContainer img {
    width: 100%;
    height: 100%;
}

.noteContainer {
    padding: 15px 15px 15px 3px;
    border-bottom: 1px solid #000;

    line-height: 1.8;
}
.inportant {
    font-weight: bold;
}


.companies {
    display: flex;
    justify-content: space-between;

}
.company {
    width: 25%;

    display: flex;
    text-align: center;
    justify-content: center;

    border-right: 1px solid #000;

    padding: 10px 0;
}
.us {
    border-right: none;
}

@media screen and (min-width: 1200px) { 
    /* .container {
        background: #E7EFF5;   
    }
    .content {
        display: flex;
        justify-content: space-between;
    } */
}