.container {
    width: 90%;
    margin: 55px auto;
}
.header {
    font-family: Playfair Display;
    font-weight: bold;
    line-height: 48px;
    font-size: 24px;
    color: #0099FF;
}
.categories {
    margin-top: 35px;
}
@media screen and (min-width: 900px) { 
    .container {
        width: 75%;
        margin: 55px auto;
    }

    .categories {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
    }
}