.container {
    background: #282C38;
    text-align: center;
    font-size: 14px;

    padding: 45px 0;
    color: #E5E5E5;
    font-family: Roboto;
}
.title {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 15px;
}
.contactInfo {
    margin-bottom: 25px;
}
.info div {
    margin-bottom: 5px;
}
.copyright {
    color: #80898A;
}

.copyright img {
    width: 200px;
}

@media screen and (min-width: 900px) { 
    .contactContainer {
        width: 75%;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .copyright {
        order: 1;
    }
    .contactInfo {
        order: 2;
    }
}