.container {
    width: 90%;
    margin: 55px auto;
}
.header {
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 36px;
    color: #253031;
    font-family: Playfair Display;

    margin-bottom: 25px;
}
.subTitle {
    font-family: Lato;
    line-height: 29px;
    font-size: 16px;
    color: #80898A;
}



.sliderContainer {
    border-radius: 20px;
    border: 1px solid #EBEBEB;

    margin-bottom: 65px;
}
.slider {
    height: 10px;
    border-radius: 20px;
    background-color: #0099FF;
}

.formContainer {
    margin: 35px 0;
}

@media screen and (min-width: 1200px) { 
    .container {
        width: 70%;
        margin: 55px auto;
    }

    .subTitle {
        width: 60%;
        margin: 35px auto 15px auto;
        font-family: Lato;
        line-height: 29px;
        font-size: 16px;
        color: #80898A;
    }
}