.imageContainer {
    background: #E5E5E5;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
}
.imageContainer img {
    height: 95%;
    width: 950%;
    max-width: 95%;
    max-height: 95%;
}

.button {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #0099FF;
    border-radius: 5px;

    text-align: left;
}
.button span {
    color: #0099FF;
    font-size: 16px;
    font-family: Lato;
    margin-left: 25px;
}

.upload_image {
    display: none;
}

@media screen and (min-width: 900px) { 
    .container {
        display: flex;
    }
    .imageContainer {
        width: 200px;
        margin-right: 25px;
    }

}
